@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://fonts.cdnfonts.com/css/whitney-2');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-weight: normal;
}

html {
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
    scrollbar-width: none;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: #6d33b9;
    color: #ffffff;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

a,
a:visited {
    text-decoration: none;
}

a {
    color: #fff;
    padding: 0.5em;
    transition: .3s linear;
}

a:hover {
    color: #4bb3d3;
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

/* Profile Page */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background: linear-gradient(228deg, #167997, #1841b3, #7723af);
    background-size: 200% 200%;
    animation: backgroundgradient 21s ease infinite;
}

#card {
    font-size: 1.5vw;
    opacity: 1;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: #18191c;
    border-radius: 5px;
    min-height: 50vh;
    width: 50vw;
    padding: 0 0 3rem;
}

#avatar {
    display: inline-flex;
    padding: 8px;
    background: linear-gradient(228deg, #167997, #1841b3, #7723af);
    background-size: 200% 200%;
    animation: backgroundgradient 10s ease infinite;
    border-radius: 50%;
    margin: 3rem 0;
}

#avatar img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#name {
    color: #3bccf8;
    font-weight: 700;
}

#desc {
    color: rgb(216, 216, 216);
    font-weight: 400;
}

#learnmore {
    letter-spacing: -1px;
    font-size: 1.1rem;
    padding-bottom: 2rem;
}

#learnmore a {
    color: #797979;
}

#learnmore a:hover {
    color: #4d4d4d;
}

/* Portfolio */

#back {
    display: flex;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    flex: 1;
}

nav ul li {
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

#tabs-content {
    color: #fff;
}

.active {
    text-decoration-line: underline;
    text-decoration-color: #fff;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    transition: .3s linear;
}

.active:hover {
    text-decoration-color: #4bb3d3;
    transition: .3s linear;
}

#tabs-content div:not(:first-child) {
    display: none;
}

/* Experience */

#experience h1 {
    padding: 0.25rem 1rem;
    font-size: 3vh;
    line-height: 1em;
}

#experience h2 {
    padding: 0 1rem;
    font-size: 2vh;
    font-family: 'Whitney', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #acacac;
}

#experience p {
    padding: 1rem 3rem;
    font-size: 1.75vh;
    text-align: center;
}

/* Skills */

#skills h1 {
    padding: 1rem;
    font-size: 3vh;
    line-height: 1em;
}

#skills ul li {
    font-size: 1.75vh;
    font-family: 'Whitney', sans-serif;
    list-style: circle inside;
    color: #acacac;
    padding: 0.1rem 1rem;
    text-align: center;
}

#skills .small {
    font-size: 0.75em;
}

/* Tools */

#tools {
    cursor: default;
}

#tools h1 {
    padding: 1rem;
    font-size: 3vh;
    line-height: 1em;
}

#tools i {
    padding: 0.25em;
    transition: .3s linear;
}

[tooltip] {
    position: relative;
    z-index: 10;
    font-family: 'Whitney', sans-serif;
}

[tooltip]:before,
[tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px);
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}

[tooltip]:before {
    content: attr(tooltip);
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 14px;
    background-color: rgba(59, 72, 80, 0.9);
    background-image: linear-gradient(30deg,
            rgba(59, 72, 80, 0.44),
            rgba(59, 68, 75, 0.44),
            rgba(60, 82, 88, 0.44));
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transform: translate(-50%, -5px) scale(0.5);
}

[tooltip]:after {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
    transition-duration: 0s;
    transform-origin: top;
    transform: translateX(-50%) scaleY(0);
}

[tooltip]:hover:before,
[tooltip]:hover:after,
[tooltip]:active:before,
[tooltip]:active:after {
    visibility: visible;
    opacity: 1;
}

[tooltip]:hover:before,
[tooltip]:active:before {
    transition-delay: 0.3s;
    transform: translate(-50%, -5px) scale(1);
}

[tooltip]:hover:after,
[tooltip]:active:after {
    transition-delay: 0.5s;
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}

.devicon-javascript-plain:hover,
.devicon-javascript-plain:active {
    color: #FFD600;
}

.devicon-html5-plain:hover,
.devicon-html5-plain:active {
    color: #E65100;
}

.devicon-css3-plain:hover,
.devicon-css3-plain:active {
    color: #0277BD;
}

.devicon-jquery-plain:hover,
.devicon-jquery-plain:active {
    color: #3498DB;
}

.devicon-nodejs-plain:hover,
.devicon-nodejs-plain:active {
    color: #388E3C;
}

.devicon-npm-original-wordmark:hover,
.devicon-npm-original-wordmark:active {
    color: #D50000;
}

.devicon-chrome-plain:hover,
.devicon-chrome-plain:active {
    animation: chrome-colours 5s infinite;
}

.devicon-github-original:hover,
.devicon-github-original:active {
    color: #919191;
}

.devicon-git-plain:hover,
.devicon-git-plain:active {
    color: #F4511E;
}

.devicon-vscode-plain:hover,
.devicon-vscode-plain:active {
    color: #29B6F6
}

.fa-discord:hover,
.fa-discord:active {
    color: #5865F2;
}

.devicon-photoshop-plain:hover,
.devicon-photoshop-plain:active {
    color: #31A8FF;
}

.devicon-illustrator-plain:hover,
.devicon-illustrator-plain:active {
    color: #FF9900;
}

.devicon-premierepro-plain:hover,
.devicon-premierepro-plain:active {
    color: #4949b6;
}

.devicon-windows8-original:hover,
.devicon-windows8-original:active {
    color: #00B0FF;
}

.devicon-linux-plain:hover,
.devicon-linux-plain:active {
    color: #FFC107;
}

.devicon-ubuntu-plain:hover,
.devicon-ubuntu-plain:active {
    color: #E64A19;
}

.devicon-raspberrypi-line:hover,
.devicon-raspberrypi-line:active {
    color: #FF4081;
}

/* Keyframed Animations */

@keyframes backgroundgradient {
    0% {
        background-position: 91% 0
    }

    50% {
        background-position: 10% 100%
    }

    100% {
        background-position: 91% 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes chrome-colours {
    0% {
        color: #3cba54;
    }

    25% {
        color: #f4c20d;
    }

    50% {
        color: #db3236
    }

    75% {
        color: #4885ed;
    }

    100% {
        color: #db3236;
    }
}