@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-weight: normal;
}

html {
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
    scrollbar-width: none;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: #6d33b9;
    color: #ffffff;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

a,
a:visited {
    text-decoration: none;
}

a {
    color: #fff;
    padding: 0.5em;
    transition: .3s linear;
}

a:hover {
    color: #4bb3d3;
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

/* Profile Page */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background: linear-gradient(228deg, #167997, #1841b3, #7723af);
    background-size: 200% 200%;
    animation: backgroundgradient 21s ease infinite;
}

#card {
    font-size: 1.75rem;
    opacity: 1;
    animation-name: fade;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: #18191c;
    border-radius: 5px;
    min-height: 50vh;
    width: 50vw;
}

#avatar {
    display: inline-flex;
    padding: 8px;
    background: linear-gradient(228deg, #167997, #1841b3, #7723af);
    background-size: 200% 200%;
    animation: backgroundgradient 21s ease infinite;
    border-radius: 50%;
    margin: 3rem 0;
}

#avatar img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#name {
    color: #3bccf8;
    font-weight: 700;
}

#desc {
    color: rgb(216, 216, 216);
    font-weight: 400;
}

#seemore {
    letter-spacing: -1px;
    font-size: 1rem;
    padding-bottom: 2rem;
}

#seemore a {
    color: #505050;
}

#seemore a:hover {
    color: #616161;
}

/* Skills, Tools and Experience */

#back {
    position: absolute;
    padding: 1rem;
}

/* Keyframed Animations */

@keyframes backgroundgradient {
    0% {
        background-position: 91% 0
    }

    50% {
        background-position: 10% 100%
    }

    100% {
        background-position: 91% 0
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}