@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.centre {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Chilanka', cursive;
  color: #5c5c5c;
  font-size: 34px;
  text-align: center;
  padding-top: 150px;
}

.icon {
  padding: 20px;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #313131;
}

a:active {
  color: lightblue;
}

h3 {
  font-family: 'Merriweather Sans', sans-serif;
  color: #2727270c;
  text-align: center;
  padding: 20px;
}

p {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  padding: 20px;
}