#splash .mainText {
    font-size: 8vw;
}

#splash .name {
    font-size: 10vw;
    white-space: nowrap;
}

#splash .whiteText {
    font-size: 4vw;
}

#about img {
    width: 90%;
}

#about,
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#projects img {
    width: 95%;
    height: auto;
    padding: 2vw;
}

.container {
    flex-direction: column;
}

.repo {
    padding: 2vw;
}