#about,
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#splash .mainText {
    font-size: 2vw;
}

#splash .name {
    font-size: 4vw;
    white-space: nowrap;
}

#splash .whiteText {
    font-size: 1vw;
}