@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Space+Mono&display=swap');
@font-face {
    font-family: 'Merci Heart Brush';
    src: url('/assets/fonts/MerciHeartBrush/MerciHeartBrush-Regular.eot');
    src: url('/assets/fonts/MerciHeartBrush/MerciHeartBrush-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/MerciHeartBrush/MerciHeartBrush-Regular.woff2') format('woff2'), url('/assets/fonts/MerciHeartBrush/MerciHeartBrush-Regular.woff') format('woff'), url('/assets/fonts/MerciHeartBrush/MerciHeartBrush-Regular.ttf') format('truetype'), url('/assets/fonts/MerciHeartBrush/MerciHeartBrush-Regular.svg#MerciHeartBrush-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

html {
    -webkit-font-smoothing: antialiased;
    background-color: #333;
}

::-webkit-scrollbar {
    display: none;
}

::-moz-selection {
    background: lightskyblue;
    color: #fff;
}

::selection {
    background: lightskyblue;
    color: #fff;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #aec6cf;
}

a:visited {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
    max-width: 80%;
}

ul {
    text-decoration: none;
    list-style: none;
}

/* Utils */

.mainText {
    color: white;
    font-size: 3rem;
}

.mainTextDark {
    color: #22252A;
    font-size: 3rem;
}

.bgDark {
    background: #333;
    color: white;
}

.bgLight {
    background: white;
    color: #333;
}

.whiteText {
    color: white;
}

.centerColumn {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.textCenter {
    text-align: center;
    padding: 1rem;
}

.container {
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;
}

.p3 {
    padding: 3rem;
}

.linkDark {
    text-decoration: none;
    color: rgb(82, 82, 82);
}

.linkLight {
    text-decoration: none;
    color: rgb(202, 202, 202);
}

/* Navbar */

header {
    display: flex;
    list-style: none;
    top: 0;
    padding: 1rem 1rem;
}

.logo {
    max-width: 4rem;
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

nav ul li {
    display: inline-block;
    padding: 1.5rem;
}

/* Splash Page */

#splash {
    height: 100vh;
    background: linear-gradient(231deg, #1397d5, #5e1490);
    background-size: 400% 400%;
    -webkit-animation: splashBG 30s ease infinite;
    -moz-animation: splashBG 30s ease infinite;
    -o-animation: splashBG 30s ease infinite;
    animation: splashBG 30s ease infinite;
}

@-webkit-keyframes splashBG {
    0% {
        background-position: 91% 0%
    }
    50% {
        background-position: 10% 100%
    }
    100% {
        background-position: 91% 0%
    }
}

@-moz-keyframes splashBG {
    0% {
        background-position: 91% 0%
    }
    50% {
        background-position: 10% 100%
    }
    100% {
        background-position: 91% 0%
    }
}

@-o-keyframes splashBG {
    0% {
        background-position: 91% 0%
    }
    50% {
        background-position: 10% 100%
    }
    100% {
        background-position: 91% 0%
    }
}

@keyframes splashBG {
    0% {
        background-position: 91% 0%
    }
    50% {
        background-position: 10% 100%
    }
    100% {
        background-position: 91% 0%
    }
}

#splashFeature {
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#splashFeature .name {
    color: #DB504A;
    font-size: 4rem;
    font-family: 'Merci Heart Brush';
    font-weight: normal;
    font-style: normal;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}